Workflows/Personal Assistant AI Agent/Email_Agent.json
{
  "name": "Email_Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "0384b5e0-890d-40c0-9acd-a05e0dbba608",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f46f262b-8471-4f4e-86ac-506d98add3e4",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        260
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"email\",\"the email of a contact\") }}",
        "subject": "={{ $fromAI(\"subject\",\"the subject for the email\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailbody\",\"the body message of the email\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "aacdff1c-6e73-49a7-be0f-5a6e326d1106",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -420,
        380
      ],
      "webhookId": "9f7015d2-ef5d-4f6f-913e-15a3ac6914d7",
      "credentials": {
        "gmailOAuth2": {
          "id": "CcDSvEQQKcMDsqL5",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{$fromAI(\"limit\",\"how many emails the user asked for\")}}",
        "simple": false,
        "filters": {
          "sender": "={{$fromAI(\"senderEmail\",\"who the user is asking for emails from\")}}"
        },
        "options": {}
      },
      "id": "37cac9f6-14f3-4623-8038-0d178004e932",
      "name": "Get Messages",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -280,
        380
      ],
      "webhookId": "6be79aa8-526f-4066-9d44-b1b9317736fc",
      "credentials": {
        "gmailOAuth2": {
          "id": "CcDSvEQQKcMDsqL5",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8688f275-6b4d-44a9-9892-50349f64e7f1",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.query}}",
        "options": {
          "systemMessage": "You are a helpful assistant. \n\nIf a number of emails isn't specified, just assume it will be 5.\n\nWhen sending an email, always sign it off from Nate, never include something like [Your Name]"
        }
      },
      "id": "419b9a82-7d38-47d1-aa13-857a502c6422",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -540,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -580,
        380
      ],
      "id": "113c7ffa-44af-4100-adfa-303b2e213378",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6mZfegGSFn78tYMq",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3eafe433-ad19-4c7a-a35f-8c846875fd83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0749e73b48cf3a94ff50d37b4b94008df8f3eb05623df06cfe06044e993a59aa"
  },
  "id": "wOCdaFrwp2Iw6K2l",
  "tags": []
}